<div class="index-page">

  <script type="text/javascript">

  	function mean(x){
     var sum;
     for (var i = x.length - 1; i >= 0; i--) {
      sum = sum +x[i];
    }
    var mean = sum/x.length;
    return mean;}

  </script>


<!-- <div class="search-filter"> <div class="center">
  <button class="button button--secondary" id="last-five-years-filter-button">Last Five Years</button>
  <button class="button button--secondary" id="published-filter-button">Published</button>
   <button class="button button--secondary" id="has-pdf-filter-button">Has PDF</button>

     <button class="button button--secondary" id="Has Talk-filter-button">Has Talk</button>
  </div>
</div> -->
  <div class="widget-wrapper">


      <aside id="search-2" class="search-wrapper">  <form method="get" id="searchform" action="/api/search">
        <div class="level-item">
        <label for="s" class="assistive-text"></label>
        <input type="text" class="input field" name="s" id="s" placeholder="Search" />
        <input type="submit" class="submit button is-small is-info" name="submit" id="searchsubmit" value="Search" />
      </div>
      </form>
    </aside>

    <aside id="recent-posts-2" class="widget widget_recent_entries">
      <div class="box">
      <h3 class="widget-title">Popular Subjects</h3>
      <ul>
        <li><a href="/subject/Biology">Biology</a></li>
        <li><a href="/subject/History">History</a></li>
        <li><a href="/subject/Engineering">Engineering</a></li>
        <li><a href="/subject/CSCI">Computer Science</a></li>
        <li><a href="/subject/Foreign_Language">Foreign Language</a></li>
        <li><a href="/subject/Art">Art</a></li>
      </ul>
    </div>
  </aside>
</div>
  <h1 style="text-align: center; color:turquoise;">Projects</h1>
  <div class="projects-container">
    <ul>
      {{#each projects}}
      <li class="project-list" id="project{{this._id}}"><a href="/project/{{this._id}}">

        <div id="hover-content">{{this.description}}
      </div><div class="project" id="project{{this._id}}">
        <figure width="250" height="250">
    <img src='https://agile-lake-41083.herokuapp.com/api/picture/{{this._id}}' alt='missing' />
    <figcaption>{{this.title}}</figcaption>
    <figcaption id="date"><span class="date-span" id="date"> {{this.createDate}}</span></figcaption>
</figure>
      <div class="rating">
      </div></div></a></li>
        {{/each}}
      </ul>

    </div>
  </div>
